.telegram-bot{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 100px;
}

.question-item-label{
    padding: 5px;
}

.question-item{
    margin-bottom: 16px;
}

.question-item-left{
    float: left;
}

.remove-item{
    font-size: 26px;
    float: right;
}


.question-input{
    min-width: 450px;
}
.answers-input{
    min-width: 350px;
}
.answer-input{
    min-width: 50px;
}

.btn-add-new-question{
    float: right;
}

.btn-add-new-save{
    width: 100px;
    float: left;
}

.save-actions{
    margin-top: 24px; 
}

.school-code-input{
    margin-top: 10px;
    float: left;
}

.btn-add-new-save{
    margin-left: 18px;
    float: left;
}